<div class="service-locations">
  <div class="row">
      <div class="col-md-12">
          <div class="maps-container" style="height: 300px;width: 100%;border: 1px solid #808080"></div>
      </div>
  </div>

  <div class="row" style="position: relative;">
      <div class="col-md-12 text-center navsection">
          <a href="#" role="button" class="btn btn-default btn-xs wc-first-page">
              <span class="glyphicon glyphicon-fast-backward"></span>
          </a>
          <a href="#" role="button" class="btn btn-default btn-xs wc-page-back">
              <span class="glyphicon glyphicon-step-backward"></span>
          </a>

          <span>Showing</span> <span class="locations-range"></span>

          <a href="#" role="button" class="btn btn-default btn-xs wc-page-next">
              <span class="glyphicon glyphicon-step-forward"></span>
          </a>
          <a href="#" role="button" class="btn btn-default btn-xs wc-last-page">
              <span class="glyphicon glyphicon-fast-forward"></span>
          </a>
      </div>


      <div id="searchContainer"
           class="input-group col-md-3 input-group-sm"
           style="position: absolute; top: 5px; right: 15px;z-index: 999999">
          <input type="search" class="form-control" placeholder="Search Locations"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="background: #6ca7db">Search</button>
        </span>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12 locations-content" style="position: relative"></div>
  </div>

  <div class="row">
      <div class="col-md-12 text-center navsection">
          <a href="#" role="button" class="btn btn-default btn-xs wc-first-page">
              <span class="glyphicon glyphicon-fast-backward"></span>
          </a>
          <a href="#" role="button" class="btn btn-default btn-xs wc-page-back">
              <span class="glyphicon glyphicon-step-backward"></span>
          </a>

          <span>Showing</span> <span class="locations-range"></span>

          <a href="#" role="button" class="btn btn-default btn-xs wc-page-next">
              <span class="glyphicon glyphicon-step-forward"></span>
          </a>
          <a href="#" role="button" class="btn btn-default btn-xs wc-last-page">
              <span class="glyphicon glyphicon-fast-forward"></span>
          </a>
      </div>
  </div>
</div>
