<div class="row location-row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;">
  <div class="col-md-12">
  <h4>{{location.name}}</h4>
    </div>
    <div class="col-md-7">
      <div>{{location.address}}</div>
      <div ng-show="location.address2">{{location.address2}}</div>
      {{location.cityState}}
      <div ng-show="location.phone">Phone: {{location.phone}}</div>

      <span ng-show="location.limitLessThanAmount">Maximum send amount of {{location.dollarLimit}}</span>

      <button ng-hide="location.limitLessThanAmount" type="button" class="btn btn-primary btn-sm btn-location" style="margin-top:15px;">
      Use this location
      </button>
    </div>
    <div class="col-md-5">
      <span ng-show="location.distance">Distance: {{location.distance}} Miles</span>
      <div ng-show="location.hours_of_ops"><br/>Hours: {{location.hours_of_ops}}</div>
  </div>
</div>
